<footer class="footer">
  <small>
    <a href="http://courses.ncsu.edu/csc517/common/homework/project/backchannel/backchannel_sum12.html">A ECE/CSC 517 project</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>